{% extends '../layout.twig' %}
{% block body %}
    <div class="container">
        <div class="form-container">
            <h1>Реєстрація</h1>

            {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}

            <form action="/register/user" method="POST">
                <div class="form-group">
                    <label for="first_name">Ім'я:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>

                <div class="form-group">
                    <label for="second_name">Прізвище:</label>
                    <input type="text" class="form-control" id="second_name" name="second_name" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary reg_btn">Зареєструватися</button>
            </form>
        </div>
    </div>
{% endblock %}
