{% extends '../layout.twig' %}
{% block body %}
    <div class="admin-panel">
        <h2>Вітаємо в панелі Адміністратора</h2>
        <p>Тут ви можете змінювати ваше наповнення</p>
        <ul>
            <li><a href="/admin-panel/add" class="add">Додати</a></li>
        </ul>
    </div>
{% endblock %}
