{% extends '../layout.twig' %}
{% block styleHead %}
    <style>
        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;
        }
        textarea {
            min-width: 19rem;
            margin: 1rem 0;
        }
        button {
            margin-bottom: 1rem;
        }
    </style>
{% endblock %}


{% block body %}
    <a href="/" class="home btn btn-primary zoom-effect">Повернутися на домашню сторінку</a>
    <div class="form-container">
        <form action="/bulk-handler" method="post">
            <fieldset id="typeOfResource">
                <legend>Обрати категорію</legend>
                <div class="d-flex align-items-center">
                    <select class="form-select w-200 zoom-effect" name="type_of_resource" id="type_of_resource">
                        {% for category in categories %}
                            {% set name = category.name %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <textarea rows="10" placeholder="Вставити імена систем через кому" id="receiver" name="bulkData"></textarea>
            <button class="btn btn-primary zoom-effect" type="submit">Надіслати на перевірку</button>

            <p>Будь ласка, вставте системи <b>по одному</b> або розділіть назви систем <b>комами</b>.
            Не використовуйте <i>жодні</i> інші символи, крапки, крапки з комою тощо. Приклад: <br><br>
            <i>WolframAlpha,</i><br>
            <i>ChatGPT</i>,<br>
            <i>AlphaGo</i>
            </p>

{#            <p>Please insert systems <b>one by one</b> or separate systems names <b>with comma</b>.#}
{#                Do not use <i>any</i> other symbols like dots, semicolons, etc. Example: <br>#}
{#                <i>WolframAlpha,</i><br>#}
{#                <i>ChatGPT</i>,<br>#}
{#                <i>AlphaGo</i>#}
{#            </p>#}
        </form>
    </div>
{% endblock %}