{% block body %}
    <form action="/ROUTE" method="post" class="container">  {# route #}
        <input type="text" placeholder="Insert here" id="receiver">
        <label for="receiver">System names</label>
        <p>Please insert systems one by one or separate systems names with comma</p>
    </form>
{% endblock %}