{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    Homepage
                </a>
            </div>

            <div class="col-md-3 text-end">
                {% if user %}
                    <a class="btn btn-primary" href="/logout">Вийти</a>
                {% else %}
                    <a href="{{ path:('login') }}"><button type="button" class="btn btn-outline-primary me-2">Увійти</button></a>
                    <a href="{{ path:('register') }}"><button type="button" class="btn btn-primary">Зареєструватися</button></a>
                {% endif %}

                {#                <a href="{{ path:('login') }}"><button type="button" class="btn btn-outline-primary me-2">Увійти</button></a>#}

            </div>
        </header>
    </div>
{% endblock %}
