{% extends "layout.twig" %}

{% block body %}

<h1> Результат пошуку: </h1>

<table>
    {% for system in systems %}
        <tr>
            <td><h2>{{ system.title }}</h2></td>
            <td><div></div></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}