{% extends "layout.twig" %}
{% block styleHead %}
    <style>
        body {
            background: rgba(13, 166, 217, 0.1);
        }
        .canvas {
            background-color: lightgoldenrodyellow;
            border-radius: 50%;
            position: relative;
            z-index: -100;
            margin-left: 350px;
            margin-bottom: 100px;
            margin-top: 100px;
        }
        .stick {
            width: 12rem;
            height: 0.5rem;
            background-color: black;
            transform-origin: left;
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
        }
        .name {
            font-size: 42px;
        }
        .tab {
        }
        .sticky-block {
            position: fixed;
            top: 15%;
            right: 20px;
            transform: translateY(-50%);
            background-color: #f1f1f1;
            padding: 30px;
            border: 1px solid #ccc;
        }
        .legend-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .legend-list li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .legend-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 50%;
        }
        .legend-label {
            font-size: 14px;
            margin: 0;
        }
        .legend-icon-blue {
            background-color: blue;
        }
        .legend-icon-red {
            background-color: red;
        }
        .legend-icon-green {
            background-color: green;
        }
        .legend-icon-black {
            background-color: black;
        }

    </style>
{% endblock %}

{% block body %}
    <h1>Результат пошуку:</h1>
    <aside class="sticky-block">
        <h1 style="margin-bottom: 40px">Легенда діаграми</h1>
        <ul class="legend-list">
            <li>
                <div class="legend-icon legend-icon-blue"></div>
                <p class="legend-label">Відповідає за цей покажчик</p>
            </li>
            <li>
                <div class="legend-icon legend-icon-red"></div>
                <p class="legend-label">Відповідає за цей покажчик</p>
            </li>
            <li>
                <div class="legend-icon legend-icon-green"></div>
                <p class="legend-label">Відповідає за цей покажчик</p>
            </li>
            <li>
                <div class="legend-icon legend-icon-black"></div>
                <p class="legend-label">Відповідає за цей покажчик</p>
            </li>
        </ul>
    </aside>
    <table class="tab">
        {% for system in systems %}
            <tr>
                <td><h2 class="name">{{ system.title }}:</h2></td>
                <td>
                    <div class="canvas">
                        <div class="polygon" style="{{ system.polygon }}"></div>
                        {% for rotation in system.tiltArray %}
                            <div class="stick" style="transform: rotate({{ rotation }}deg)"></div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
